{% extends "layout.html" %}

{% block title %}
Blog title
{% endblock %}

{% block content %}
<a class="btn btn-primary" href="{% url 'blog_create' %}">Create a blog</a>

{% for blog in blogs %}
<div class="card" style="width: 18rem;">
  <img src="{{blog.photo.url}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ blog.user.username }} </h5>
    <p class="card-text">{{ blog.test }}</p>

    {% if blog.user == user %}
    <a href="{% url 'blog_edit' blog.id %}" class="btn btn-primary">Edit</a>
    <a href="{% url 'blog_delete' blog.id %}" class="btn btn-danger">Delete</a>
    {% endif %}
    
  </div>
</div>
{% endfor %}


{% endblock %}